:root {
  --color-primary: rgb(50, 51, 70);
  --color-secondary: #81d4fa;

  --color-bg: #0e1b2d;

  --color-text-full: #fff;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-text-2: rgba(255, 255, 255, 0.6);
}
